*{
    font-family: poppins;
    
}

.container{
    display: flex;
    width: 80%;
    margin:auto;
}

.imagem_calculadora img{
    width: 625px;
}

.calculadora .container{
    background-color: #457B9D;
    opacity: 0.9;
    height: 660px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    width: 100%;
}

.calculadora{
   display: flex;
}

.inputs{
    height: 455px;
    width: 400px;
    padding: 15px 50px;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    border: solid 3px #163170;
    border-radius: 15px;
}
    
.titulo{
    margin: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 800;
    margin: 20px 0 30px 0;
}

.text_input{
    font-size: 17px;
    font-weight: 500;
}

.inputs input{
    height: 20px;
    border: solid 1.5px black;
    border-radius: 10px;
    height: 40px;
    margin-bottom: 40px;
}

.inputs button{
    height: 75px;
    width: 300px;
    background-color: #163170;
    color: whitesmoke;
    font-size: 25px;
    font-weight: bolder;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    align-self: center;
    opacity: 0.9;
}

.inputs button:hover{
    border: solid black 3px;
    transition: 0.4s;
    color: black;
    opacity: 1;
}

.section_mensagens{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 250px 0;
}

.hide{
    opacity: 0;
}

#mensagem{
    text-align: center;
    color: #000;
    font-size: 23px;
    align-self: center;
    height: 120px;
    width: 400px;
    padding: 15px 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    border: solid 3px #163170;
    border-radius: 15px;
    position: relative; 
    right: 0;
    transition: 0.5s;
}

#mensagem.hide{
    right: 100%;
}


.destaque{
    margin: 0;
    font-weight: bold;
    color: #163170;
    opacity: 0.8;
}

.marcado{
    font-weight: bolder;
    opacity: 1;
}