*{
    font-family: Poppins;
    
}

body{
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    width: 80%;
    margin: auto;
}

/*header*/
.header{
    display: flex;
    background-color: #163170;
    width: 100%;
}

.navbar{
    display: flex;
    width: 285px;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.header .container{
    justify-content: space-between;
}

.container #logo{
    margin-top:1.5%;
}

.lista{
    display: flex;
    padding: 5px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.lista:hover{
    background-color: antiquewhite;
    color: black;
    transition: 0.5s;
}
/*end header*/
/**/
/*Pag 1*/
.pag1{
    display: flex;
    width: auto;
    height: 590px;
    background-color: #163170;
}

.main{
    display: flex;
    justify-content: space-between;
    height: 500px;
    
}

#conteudoSaibaMais{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto_saiba_mais{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
    padding: 5px;
    margin-bottom: 50px;
}

#h2SaibaMais{
    font-size: 30px;
    font-weight: bolder;
}

#h3SaibaMais{
    margin: 0;
    font-size: 20px;
    font-weight: 400;
}

#buttonSaibaMais{
    height: 50px;
    width: 300px;
    background-color: aliceblue;
    color: black;
    font-size: 25px;
    font-weight: bolder;
    border: none;
    border-radius: 15px;
    margin-bottom: 100px;
    opacity: 0.9;
}

#buttonSaibaMais:hover{
    border: solid black 3px;
    cursor: pointer;
    transition: 0.4s;
    opacity: 1;
}

/*pg2*/
.pg2{
    background-color: #163170;
    width: 100%;
    height: 720px;
}

.imagem img{
    border-radius: 50%;
    padding: 30px;
}

.participantes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 50px;
}

.card{
    background-color: whitesmoke;
    width: 200px;
    justify-content:center;
    padding: 10px;
    height: 280px;
    border-radius: 20px;
    padding: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.participantes h4{
    color: black;
}

.pag2 p{
    margin: 0;
    padding: 30px;
    font-family: poppins;
    font-size: 20px;
}

.controller{
    display:flex;
}

/*comeco de projetos*/
.pg4{
    display: flex;
    height: 700px;
}

.pg4 .container{
    display: flex;
}

.pg4 h1{
    font-size: 35px;
    color:#3768d8;
    margin-bottom: 5px;
}

.pd4 h2{
    margin: 0px;
}

.texto{
    display: flex;
    flex-direction: column;
}

.pg4 p{
    font-size: 17px;
}

.projeto{
    display: flex;
    align-self: first baseline;
}

.conteudoProjeto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 150px;
}

/*FIM DA PAGINA4*/

/*começo da pagina 5*/

.pg5{
    background-color: rgba(22, 138, 173, 0.3);
    width: 100%;
    display: flex;
    height: 700px;
}

.pg5 .container{
    justify-content: space-between;
}

.elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.elements h1 {
    font-size: 35px;
    color:#3768d8;
    font-weight: bolder;
    margin: 0;
}

.elements h3{
    margin: 0;
    margin-bottom: 100px;
    font-style: poppins;
    font-weight: 500;
}

#textoCalc{
    margin-bottom: 30px;
}


#buttonSimulador{
    height: 50px;
    width: 300px;
    background-color: #163170;
    color: whitesmoke;
    font-size: 25px;
    font-weight: bolder;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    opacity: 0.9;
}

#buttonSimulador:hover{
    border: solid black 3px;
    cursor: pointer;
    color: white;
    transition: 0.4s;
    opacity: 1;
}
/*fim da pag5*/

/*Começo do fale conosco*/
.faleConosco{
    width: 100%;
    height: 30px;
    margin-top: 150px;
    margin-bottom: 400px;
}

.faleConosco .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#textoFaleConosco{
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
}

.faleConosco h1{
    font-size: 35px;
    color:#3768d8;
    font-weight: bolder;
    margin: 0;
}

.faleConosco p{
    font-size: 17px;
}

#fade{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#formFaleConosco{
    position: fixed;
    left: 50%;
    top: 43%;
    transform: translate(-50%, -50%);
    height: 540px;
    width: 400px;
    max-width: 90%;
    padding: 1.2rem;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    border: solid 3px #163170;
    border-radius: 15px;
    margin-top: 50px;
    z-index: 10;
}

#formFaleConosco.hide, 
#fade.hide{
    opacity: 0;
    pointer-events: none;
}

#formFaleConosco.hide{
    left: 0;
}

#fade,#formFaleConosco{
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}

.textInput{
    font-size: 17px;
    font-weight: 500;
}

#formFaleConosco input{
    border: solid 1.5px black;
    border-radius: 10px;
    height: 40px;
    margin-bottom: 40px;
}

#formFaleConosco #msg{
    width: 300px;
    height: 100px;
}

#buttonsFaleConosco{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.faleConosco button{
    height: 75px;
    width: 40%;
    background-color: #163170;
    color: whitesmoke;
    font-size: 25px;
    font-weight: bolder;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    align-self: center;
    margin-top: 20px;
    opacity: 0.9;
}

#buttonVoltar{
    background-color: #888;
}

.faleConosco button:hover{
    border: solid black 3px;
    transition: 0.4s;
    opacity: 1;
}

/*footer*/
.footer{
    display: flex;
    width: 100%;
    background-color:   background-color: #050c1b;;
    flex-direction: column;
    height: 150px;
    padding-top: 40px;
}

.footer .container{
    justify-content: space-between;
    flex-direction: column;
}

.footer span{
    display: flex;
    align-self: center;
    color: whitesmoke;
}

.listaFooter{
    display: flex;
    align-items: center;
    justify-content: center;
}
